<!---Homepage----->

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
   

  
   
}
.index-page{
    background-color: rgb(0, 0, 0);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5),rgba(33, 30, 30, 0.5)),url('me\ 22.jpg') ;
   background-size: cover;
   height: 130vh;
   background-position: 15rem;
background-repeat: no-repeat;


}
.round-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    position: absolute;
    top: -0.5px;
    margin-left: 5.5px;
    
  }

  .icons-top{
    
    display:flex;
    margin-top: 13px;
    padding-left: 28em;
    width: 10em;
    text-align: center;
    text-indent: 20px;
    height:2em ;
    transition:background-color 0.3s, color 0.3s; ;
   
  }

  

.icons i{
    margin-bottom: 3rem;
    padding: 1em;
}
.icons p{
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 15px;
}


.nav{

    margin-top: 10rem;
    padding: 0;

}
.nav ul li {
    padding: 15px; 
 
  }
.nav a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-family: 'Times New Roman', Times, serif;
   
    
    font-weight:lighter;
 font-size: small;
    margin-left: 70px;
    
    
}

.nav ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 10px 20px;
    display: block;
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s;
}

.nav ul li a:hover {
   
    color: #ed2b2b;
    
}

.nav ul li i {
    margin-right: 10px; 
    font-size: 18px; 
  
  }

  
  .content {
    padding: 10px;
  margin-left: 20em;
  position: absolute;
  top: 20em;
  color: #ffffff;
}

.content h1 {
    font-size: 4em;

    display: inline-block;
}

.content p{
font-size: 14px;
color: #f5f1f1;
}

.content h1::first-letter{
    font-size: 1.5em; 
    color: #ffffff; 
    text-shadow: 7px 7px 10px rgba(255, 25, 25, 0.7); 
}

.content p {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 10px;
}





footer {
  background-color: black;
  color:white;
  padding: 20px 50px;
  text-align: center; 
 margin-top: 290px;
}

.footer-icons-top{
  display: flex;
  justify-content: flex-start; /* Align icons to the left */
  gap: 20px; /* Space between icons */
  padding: 10px 0;
  justify-content: center; /* This will center the icons on mobile */
}

.footer-icons-top i {
  font-size: 2rem; /* Icon size */
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icons-top i:hover {
  color: #ed2b2b; /* Hover effect: change color */
}



/*-------home----*/

@media (max-width: 480px) {
    /* Styles for small mobile devices */
    *{
      margin: 0;
      padding: 0;
     
  
    
     
  }
  .index-page{
      background-color: rgb(0, 0, 0);
      background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5),rgba(33, 30, 30, 0.5)),url('me\ 22.jpg') ;
     background-size: cover;
     height: 130vh;
     background-position: 8rem;
  background-repeat: no-repeat;
  
  
  }
  .round-image {
      width: 50px;
      height: 500px; 
      border-radius: 50%; 
      object-fit: cover; 
      position: absolute;
      top: -0.2px;
      margin-left: 2.5px;
      
    }
  
    .icons-top{
      
      display:flex;
      margin-top: 6px;
      padding-left: 13em;
      width: 5em;
      text-align: center;
      text-indent: 10px;
      height:1em ;
      transition:background-color 0.3s, color 0.3s; ;
     
    }
  
    
  
  .icons i{
      margin-bottom: 1rem;
      padding: 0.5em;
  }
  .icons p{
      color: #ffffff;
      margin-bottom: 1%;
      margin-left: 7px;
  }
  
  
  .nav{
  
      margin-top: 5rem;
      padding: 0;
  
  }
  .nav ul li {
      padding: 7px; 
   
    }
  .nav a{
      text-decoration: none;
      color: #ffffff;
      display: block;
      font-family: 'Times New Roman', Times, serif;
     
      
      font-weight:lighter;
   font-size: small;
      margin-left: 20px;
      
      
  }
  
  .nav ul li a {
      text-decoration: none;
      color: #fff; 
      padding: 3px 7px;
      display: block;
      background-color: transparent; 
      transition: background-color 0.3s, color 0.3s;
  }
  
  .nav ul li a:hover {
     
      color: #ed2b2b;
      
  }
  
  .nav ul li i {
      margin-right: 5px; 
      font-size: 8px; 
    
    }
  
    
    .content {
      padding: 5px;
    margin-left: 10em;
    position: absolute;
    top: 10em;
    color: #ffffff;
  }
  
  .content h1 {
      font-size: 2em;
  
      display: inline-block;
  }
  
  .content p{
  font-size: 7px;
  color: #f5f1f1;
  }
  
  .content h1::first-letter{
      font-size: 0.5em; 
      color: #ffffff; 
      text-shadow: 7px 7px 10px rgba(255, 25, 25, 0.7); 
  }
  
  .content p {
      font-size: 0.5em;
      color: #ffffff;
      margin-top: 10px;
  }
  
  
  
  
  
  footer {
    background-color: black;
    color:white;
    padding: 10px 50px;
    text-align: center; 
   margin-top: 300px;
  }
  
  .footer-icons-top{
    display: flex;
    justify-content: flex-start; /* Align icons to the left */
    gap: 5px; /* Space between icons */
    padding: 6px 0;
    justify-content: center; /* This will center the icons on mobile */
  }
  
  .footer-icons-top i {
    font-size: 1rem; /* Icon size */
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  }
  
  @media (max-width: 768px) {
    /* Styles for mobile devices */
    .index-page{
      height: 110vh;  
      background-position: center center;  
      
      background-color: rgb(0, 0, 0);
      background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5),rgba(33, 30, 30, 0.5)),url('me\ 22.jpg') ;
     background-size: cover;
    
  background-repeat: no-repeat;
  
     }
     .round-image {
      width: 100px;
      height: 100px; 
      border-radius: 50%; 
      object-fit: cover; 
      position: absolute;
      
      margin-left: 1px;
      
    }
  
    .icons-top{
      
      display:flex;
      margin-top: 10px;
      padding-left: 20em;
      width: 6em;
      text-align: center;
      text-indent: 20px;
      height:2em ;
      transition:background-color 0.3s, color 0.3s; ;
     
    }
  
    
  
  .icons i{
      margin-bottom: 1rem;
      padding: 0.5em;
  }
  .icons p{
      color: #ffffff;
      margin-bottom: 15%;
      margin-left: 10px;
  }
  
  
  .nav{
  
      margin-top: 6rem;
      padding: 0;
  
  }
  .nav ul li {
      padding: 10px; 
   
    }
  .nav a{
      text-decoration: none;
      color: #ffffff;
      display: block;
      font-family: 'Times New Roman', Times, serif;
     
      
      font-weight:lighter;
   font-size: small;
      margin-left: 40px;
      
      
  }
  
  .nav ul li a {
      text-decoration: none;
      color: #fff; 
      padding: 5px 10px;
      display: block;
      background-color: transparent; 
      transition: background-color 0.3s, color 0.3s;
  }
  
  .nav ul li a:hover {
     
      color: #ed2b2b;
      
  }
  
  .nav ul li i {
      margin-right: 5px; 
      font-size: 12px; 
    
    }
  
    
    .content {
      padding: 5px;
    margin-left: 10em;
    position: absolute;
    top: 10em;
    color: #ffffff;
  }
  
  .content h1 {
      font-size: 2em;
  
      display: inline-block;
  }
  
  .content p{
  font-size: 20px;
  color: #f5f1f1;
  }
  
  .content h1::first-letter{
      font-size: 1.5em; 
      color: #ffffff; 
      text-shadow: 7px 7px 10px rgba(255, 25, 25, 0.7); 
  }
  
  .content p {
      font-size: 1em;
      color: #ffffff;
      margin-top: 5px;
  }
  footer {
      padding: 5px 10px; 
      margin-left: -10rem;
      margin-top: 300px;
      
    }
  
  footer{
      font-size: 12.5px;
  }
    .icons-top {
      justify-content: flex-start; /* Center the icons on smaller screens */
      gap: 0.5px;
       /* Reduce space between icons on smaller screens */
    }
  
    .icons-top i {
      font-size: 0.9rem; /* Reduce icon size for mobile */
     
    }
  }
  









  
<!-----about-page---->


*{
    margin: 0;
    padding: 0;
}

.nuv a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;


}
.nuv ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}
.nuv ul li{
   
    font-family: 'Times New Roman', Times, serif;
    transition:  color 0.3s;
}

.nuv ul li a:hover {
   
    color: #ed2b2b; 
    
}

.about-page{
    background-color: black;
    color: #fff;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}

.quote {
    font-size: 14px;
    justify-content: right;
    position: absolute;
    left: -20em;
    top: 50em;
    font-style: italic;
    color: #ffffff;
    max-width: 200px;
    margin-top: 10px;
    margin-left: 20em;
    padding: 10px;
    background-color: #000000;
    border-left: 2.5px solid #ffffff;
    border-radius: 5px;
  }

.about-content{
    text-align: left;
    padding: 10px;
    margin-left: 700px;
    max-width: 300rem;
    font-size: 15px;
    margin-top: 80px;
    
}
.about-content p{
    font-weight:lighter;
}
.about-content h1{
    margin-bottom: 1em;
    font-size:800;
}

img{
     border-radius: 100px;
    position:absolute;
    top: 40px;
    margin-left: 60px;
    width: 500px;

}
@media (max-width: 480px) {
  /* Styles for small mobile devices */
  .nuv a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    font-size: 10px;


}
.nuv ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}
.nuv ul li{
   
    font-family: 'Times New Roman', Times, serif;
    transition:  color 0.3s;
}

.nuv ul li a:hover {
   
    color: #ed2b2b; 
    
}

.about-page{
    background-color: black;
    color: #fff;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}

.quote {
    font-size: 5px;
    justify-content: right;
    position: absolute;
    left: -10em;
    top: 25em;
    font-style: italic;
    color: #ffffff;
    max-width: 100px;
    margin-top: 5px;
    margin-left: 10em;
    padding: 5px;
    background-color: #000000;
    border-left: 1px solid #ffffff;
    border-radius: 2px;
  }

.about-content{
    text-align: left;
    padding: 5px;
    margin-left: 50px;
    max-width: 250rem;
    font-size: 8px;
    margin-top: 10px;
    justify-content:center;
    display: block;
    
}
.about-content p{
    font-weight:lighter;
}
.about-content h1{
    margin-bottom: 0.5em;
    font-size:100;
}

img{
     border-radius: 50px;
    
    margin-left: 30px;
    width: 250px;

}
}

@media (max-width: 768px) {
  /* Styles for mobile devices */
  .nuv a{
    color: #fff;
    text-decoration: none;
    padding: 1.5em;
    font-size: 10px;


}
.nuv ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}
.nuv ul li{
   
    font-family: 'Times New Roman', Times, serif;
    transition:  color 0.3s;
}

.nuv ul li a:hover {
   
    color: #ed2b2b; 
    
}

.about-page{
    background-color: black;
    color: #fff;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}

.quote {
    font-size: 10px;
    justify-content: right;
    position: absolute;
    left: -10em;
    top: 38em;
    font-style: italic;
    color: #ffffff;
    max-width: 100px;
    margin-top: 5px;
    margin-left: 10em;
    padding: 1px;
    background-color: #000000;
    border-left: 1px solid #ffffff;
    border-radius: 2px;
  }

.about-content{
    text-align: left;

   
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
    margin-top: 400px;
    justify-content:center;
    display: block;
    
}
.about-content p{
    font-weight:lighter;
    
}
.about-content h1{
    margin-bottom: 0.5em;
    font-size:20px;
    justify-content: right;
}

img{
     border-radius: 100px;
   
    margin-left: 40px;
    width: 270px;

}

}

<!------resume-page------->



.resume-page{
    background-color: black;
    color: #fff;
}
.resume img{
    width: 500px;
    height: 240px;
    border-radius: 32px;
   
    object-fit: cover;
    position:absolute;
    top:70px;
    left: -61px;
}
.content-resume{
    font-size: 15px;
    width: 73rem;
    padding:16px;
    margin-top: 20px;
    display: inline-flex;
  
}

.content-resume ul{
    list-style-type: none;
    
}

.r2,r3,r4,r5{
padding: 30px;

}

header{
margin-top: 17rem;
}

.sect1{
margin: 10px;
}

@media (max-width: 768px) {
    .resume-page{
      background-color: black;
      color: #fff;
  }
  .resume img{
      width: 200px;
      height: 140px;
      border-radius: 18px;
     
      object-fit: cover;
      position:absolute;
      top:35px;
      left: -30px;
  }
  .content-resume{
      font-size: 9px;
      width: 50rem;
    
      padding:9px;
      margin-top: 10px;
      display: inline-flex;
    
  }
  
  .content-resume ul{
      list-style-type: none;
      
  }
  
  .r2,r3,r4,r5{
  padding: 10px;
  
  }
  
  header{
  margin-top: 10rem;
  }
  
  .sect1{
  margin: 50px;
  }
  
  }





<!------contact-page----->

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #fff;
    
   
    
}

.nuv-contact a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}


.nuv-contact ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
   
}

.nuv-contact{
    font-family: 'Times New Roman', Times, serif;
}


.nuv-contact ul li a:hover {
   
    color: #ed2b2b; 
    
}

.contact-form{
   justify-content: center;
   
   margin-top: 1em;
    margin-left: 20em;
        background-color: rgba(0, 0, 0, 0.6);  
        padding:15px;
        border-radius: 20px;  
        border: 6px solid #ccc; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
        width: 500px;
        text-align: center;   
        max-height: 150vh;
    
}

.contact-form h1{

margin-top:3rem;
margin-bottom: 10px;
}

.contact-form input,textarea{
    
    width: 70%;           
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;         
    border: 1px solid #fff; 
    border-radius: 5px;   
}
.contact-form p{
    color: #fff;
    font-size: 15px;
}
.contact-form p{
    position: absolute;
    left: 23em;
}
.contact-form button{
    background-color: #000000; 
  color: white;               
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.contact-form button:hover {
    color: black;
    background-color: #ffffff; 
  }




  @media (max-width: 768px) {
    /* Styles for mobile devices */
    body{
      background-color: black;
      color: #fff;
      
     
      
    }
    
    .nuv-contact a{
      color: #fff;
      text-decoration: none;
      padding: 1em;
      font-size: 10px;
      transition: background-color 0.3s, color 0.3s;
    }
    
    
    .nuv-contact ul{
      display: flex;
      text-decoration: none;
      list-style-type: none;
      justify-content: left;
     
    }
    
    .nuv-contact{
      font-family: 'Times New Roman', Times, serif;
    }
    
    
    .nuv-contact ul li a:hover {
     
      color: #ed2b2b; 
      
    }
    
    .contact-form{
     justify-content: center;
     
     margin-top: 1em;
      margin-left: 3em;
          background-color: rgba(0, 0, 0, 0.6);  
          padding:7px;
          border-radius: 10px;  
          border: 3px solid #ccc; 
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
          width: 400px;
          text-align: center;   
          max-height: 90vh;
      
    }
    
    .contact-form h1{
    
    margin-top:2rem;
    margin-bottom: 5px;
    }
    
    .contact-form input,textarea{
      
      width: 40%;           
      padding: 7px;
      margin: 5px 0;
      background-color: rgba(255, 255, 255, 0.2); 
      color: white;         
      border: 1px solid #fff; 
      border-radius: 5px;   
    }
    .contact-form p{
      color: #fff;
      font-size: 15px;
    }
    .contact-form p{
      position: absolute;
      left: 7em;
    }
    .contact-form button{
      background-color: #000000; 
    color: white;               
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    }
    
    .contact-form button:hover {
      color: black;
      background-color: #ffffff; 
    }
    
    
  }
  
  

<----service-page---->

  *{
    margin: 0;
    padding: 0;
}

.service{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6),rgba(33, 30, 30, 0.6)),url('img/port.jpg') ;
    color: #fff;
    
   
    
}

.nuv-services a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}

.nuv-services ul li a:hover {
   
    color: #ed2b2b; 
}

.nuv-services ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}


.nuv-services{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    text-decoration: dashed 2px solid red;

}

.service-content{
    margin-top: 50px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
}

.service-box{
    background-color: rgba(80, 78, 78, 0.5); 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}
.service-box h3{
margin: 20px;
font-size: 25px;
}

@media (max-width: 768px) {
    /* Styles for mobile devices */
    .service{
      background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6),rgba(33, 30, 30, 0.6)),url('img/port.jpg') ;
      color: #fff;
      
     
      
    }
    
    .nuv-services a{
      color: #fff;
      text-decoration: none;
      padding: 1em;
      font-size: 11px;
      transition: background-color 0.3s, color 0.3s;
    }
    
    .nuv-services ul li a:hover {
     
      color: #ed2b2b; 
    }
    
    .nuv-services ul{
      display: flex;
      text-decoration: none;
      list-style-type: none;
      justify-content: left;
    }
    
    
    .nuv-services{
      font-family: 'Times New Roman', Times, serif;
    }
    
    h1{
      margin-top: 25px;
      text-align: center;
      font-size: 40px;
      text-decoration: dashed 2px solid red;
    
    }
    
    .service-content{
      margin-top: 30px;
      display: flex;
      padding: 15px;
      justify-content: space-between;
      gap: 10px;
      padding: 30px;
    }
    
    .service-box{
      background-color: rgba(80, 78, 78, 0.5); 
      color: white; 
      padding: 16px;
      border-radius: 10px;
      width: 35%;
      border: 5px solid rgb(0, 0, 0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      transition: transform 0.3s ease;
    }
    .service-box h3{
    margin: 16px;
    font-size: 20px;
    }
    
    
  }