
.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
  
   
}
.index-page{
    background-color: rgb(0, 0, 0);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5),rgba(33, 30, 30, 0.5)),url('me\ 22.jpg') ;
   background-size: cover;
   height: 130vh;
   background-position: 13rem;
background-repeat: no-repeat;

}
.round-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    position: absolute;
    top: -0.5px;
    margin-left: 5.5px;
    
  }

  .icons-top{
    
    display:flex;
    margin-top: 13px;
    padding-left: 28em;
    width: 10em;
    text-align: center;
    text-indent: 20px;
    height:2em ;
    transition:background-color 0.3s, color 0.3s; ;
   
  }

  

.icons i{
    margin-bottom: 3rem;
    padding: 1em;
}
.icons p{
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 15px;
}


.nav{

    margin-top: 10rem;
    padding: 0;

}
.nav ul li {
    padding: 15px; 
 
  }
.nav a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-family: 'Times New Roman', Times, serif;
   
    
    font-weight:lighter;
 font-size: small;
    margin-left: 70px;
    
    
}

.nav ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 10px 20px;
    display: block;
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s;
}

.nav ul li a:hover {
   
    color: #ed2b2b;
    
}

.nav ul li i {
    margin-right: 10px; 
    font-size: 18px; 
  
  }

  
.content{
    color: #ffffff;
    margin-left: 18rem;
    position: relative;
    top: -100rem;
}  
.content p{
 font-weight:lighter;
 font-size: small;
 color: rgb(211, 211, 216);
 margin-left: 10em;
}
.content h1::first-letter{
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 10px 10px 5px rgba(255, 25, 0, 0.671);
}

.content h1{
    font-weight: bolder;
    font-size:40px;
    margin-right: 12em;
    
   
}

.content h6{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-left:10em ;
    margin-top: 5em;

}


footer{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px 50px; 
    text-align: center;
    position: relative;
    bottom: 0;
  }

  .footer p {
    margin: 0;
    font-size: 16px;
  }















*{
    margin: 0;
    padding: 0;
}

.nuv a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;


}
.nuv ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}
.nuv ul li{
   
    font-family: 'Times New Roman', Times, serif;
    transition:  color 0.3s;
}

.nuv ul li a:hover {
   
    color: #ed2b2b; 
    
}

.about-page{
    background-color: black;
    color: #fff;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}

.quote {
    font-size: 14px;
    justify-content: right;
    position: absolute;
    left: -20em;
    top: 50em;
    font-style: italic;
    color: #ffffff;
    max-width: 200px;
    margin-top: 10px;
    margin-left: 20em;
    padding: 10px;
    background-color: #000000;
    border-left: 2.5px solid #ffffff;
    border-radius: 5px;
  }

.about-content{
    text-align: left;
    padding: 10px;
    margin-left: 700px;
    max-width: 300rem;
    font-size: 15px;
    margin-top: 80px;
    
}
.about-content p{
    font-weight:lighter;
}
.about-content h1{
    margin-bottom: 1em;
    font-size:800;
}

img{
     border-radius: 100px;
    position:absolute;
    top: 40px;
    margin-left: 60px;
    width: 500px;

}





















.resume-page{
    background-color: black;
    color: #fff;
}
.resume img{
    width: 500px;
    height: 240px;
    border-radius: 32px;
   
    object-fit: cover;
    position:absolute;
    top:70px;
    left: -61px;
}
.content-resume{
    font-size: 15px;
    width: 73rem;
    padding:16px;
    margin-top: 20px;
    display: inline-flex;
  
}

.content-resume ul{
    list-style-type: none;
    
}

.r2,r3,r4,r5{
padding: 30px;

}

header{
margin-top: 17rem;
}

.sect1{
margin: 10px;
}



















*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #fff;
    
   
    
}

.nuv-contact a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}


.nuv-contact ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
   
}

.nuv-contact{
    font-family: 'Times New Roman', Times, serif;
}


.nuv-contact ul li a:hover {
   
    color: #ed2b2b; 
    
}

.contact-form{
   justify-content: center;
   
   margin-top: 1em;
    margin-left: 20em;
        background-color: rgba(0, 0, 0, 0.6);  
        padding:15px;
        border-radius: 20px;  
        border: 6px solid #ccc; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
        width: 500px;
        text-align: center;   
        max-height: 150vh;
    
}

.contact-form h1{

margin-top:3rem;
margin-bottom: 10px;
}

.contact-form input,textarea{
    
    width: 70%;           
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;         
    border: 1px solid #fff; 
    border-radius: 5px;   
}
.contact-form p{
    color: #fff;
    font-size: 15px;
}
.contact-form p{
    position: absolute;
    left: 23em;
}
.contact-form button{
    background-color: #000000; 
  color: white;               
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.contact-form button:hover {
    color: black;
    background-color: #ffffff; 
  }







  *{
    margin: 0;
    padding: 0;
}

.service{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6),rgba(33, 30, 30, 0.6)),url('img/port.jpg') ;
    color: #fff;
    
   
    
}

.nuv-services a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}

.nuv-services ul li a:hover {
   
    color: #ed2b2b; 
}

.nuv-services ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: left;
}


.nuv-services{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    text-decoration: dashed 2px solid red;

}

.service-content{
    margin-top: 50px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
}

.service-box{
    background-color: rgba(80, 78, 78, 0.5); 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}
.service-box h3{
margin: 20px;
font-size: 25px;
}

